.transactions {
	font-family: 'Karla', sans-serif;

	color: white;
	background: linear-gradient(to top, rgb(29, 29, 32) 10%, rgb(54, 55, 61));

	height: 94vh;

	overflow: auto;
}

h1 {
	text-align: center;
	padding: 50px;
	padding-bottom: 0;
}


#transaction-card {
	display: block;

	margin: 50px auto;

	background-color: rgb(58, 59, 70);
	border: 1px solid gray;

	width: 40%;

	font-size: 1.5em;
}

#transaction-info {
	display: inline-block;

	width: 200px;

	padding: 20px 20px;

	text-align: right;
}

h3{
	display: inline-block;

	padding-left: 50px;

	font-weight: 300;
}

p {
	font-weight: 300;
	text-align: right;
	float: right;
	width: 300px;
}