.account {
	font-family: 'Karla', sans-serif;

	color: white;
	background: linear-gradient(to top, rgb(29, 29, 32) 10%, rgb(54, 55, 61));

	height: 94vh;

	overflow: auto;
}

h1 {
	text-align: center;
	padding: 50px;
	padding-bottom: 0;
}

.account-details {
	display: block;

	margin: 50px auto;

	background-color: rgb(58, 59, 70);
	border: 1px solid gray;

	width: 40%;

	font-size: 1.5em;
}

#user-info {
	display: inline-block;

	width: 200px;

	padding: 20px 20px;

	text-align: right;
}

h2{
	display: inline-block;

	padding-left: 50px;

	font-weight: 300;
}

.delete-account {
	width: 40%;
	margin: 0 auto;
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#del-acc {
	padding: 4px 20px;
}
#del-acc:hover {
	box-shadow: 0 0 40px 40px #646161 inset;
}