.create-account {
	font-family: 'Karla', sans-serif;
	color: white;
	background: linear-gradient(to top, rgb(29, 29, 32) 10%, rgb(54, 55, 61));
	height: 94vh;
	overflow: auto;
}

h1 {
        padding: 20px 20px;
}

form {
        line-height: 2;
        padding: 0 20px;
}

#credential {
        display: inline-block;
        width: 100px;
        text-align: right;
        padding: 20px 20px;
}

#category {
        display: inline-block;
        width: 300px;
}

#submit {
        position: absolute;
        left: 100px;
        padding: 0 20px;
        margin: 20px 20px;
}