.transactions {
	font-family: 'Karla', sans-serif;
	color: white;
	background: linear-gradient(to top, rgb(29, 29, 32) 10%, rgb(54, 55, 61));
	height: 94vh;
	overflow: auto;
}

h1 {
	padding: 20px 20px 0 20px;
}

#transaction-card {
	display: block;
	background-color: rgb(58, 59, 70);
	border: 1px solid gray;
	width: 40%;
	margin: 50px 20px;
	font-size: 1.5em;
}

#transaction-info {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding: 20px 20px;
}

h3{
	display: inline-block;
	font-weight: 300;
}

p {
	font-weight: 300;
	text-align: right;
	float: right;
	width: 300px;
}