{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/createaccount.css')}}' />
{% endblock %}


{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                        <p>{{message}}</p>
                {% endfor %}
        {% endif %}
{% endwith %}

<div className='create-account'>
        <h1>Create Account</h1>
        <form action='#' method='POST'>
                <label>name</label>
                <input id='category' type='text' name='name' /><br>
                <label>email</label>
                <input id='category' type='text' name='email' /><br>
                <label>username</label>
                <input id='category' type='text' name='username' /><br>
                <label>password</label>
                <input id='category' type='password' name='password' /><br>
                <input id='submit' type='submit' value='create account' />
        </form>
</div>
{% endblock %}
