{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/transactions.css')}}' />
{% endblock %}


{% block body %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                        <p>{{message}}</p>
                {% endfor %}
        {% endif %}
{% endwith %}

<div className='transactions'>
        <h1>Transaction History</h1>
		{% if transactions %}
			{% for transaction in transactions %}
			<div className='transaction-card' id='transaction-card'>
				<label>Sender:</label><h3>{{transaction['sender']}}</h3><br>
				<label>Recipient:</label><h3>{{transaction['recipient']}}</h3><br>
				<label>Amount:</label><h3>{{transaction['amount']}}</h3><br>
				<p>{{transaction['time']}}</p>
			</div>
			{% endfor %}
		{% endif %}
</div>
{% endblock %}