{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/viewDB.css')}}' />
{% endblock %}



{% block body %}
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Email</th>
        <th>Balance</th>
      </tr>
    </thead>

    {% for User in values %}
        <tbody>
        <tr>
            <td>{{User.name}}</td>
            <td>{{User.username}}</td>
            <td>{{User.password}}</td>
            <td>{{User.email}}</td>
            <td>{{User.balance}}</td>
        </tr>
        </tbody>
        {% endfor %}
  </table>


{% endblock %}