{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/emailauthorize.css')}}' />
{% endblock %}


{% block body %}
<div class='authorize'>
        <h1>Email Authorization</h1>
        <div class='form'>
                <form action='#' method='POST'>
                        <label id='credential'>Authorization Key</label>
                        <input id='category' type='text' name='Email Authorization Key' /><br>
                        <input id='submit' type='submit' value=submit />
                </form>
        </div>
</div>
{% endblock %}