{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href='{{ url_for('static', filename='css/login.css')}}' />
{% endblock %}


{% block body %}
<div class='login'>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                                <p id='flash'>{{message}}</p>
                        {% endfor %}
                {% endif %}
        {% endwith %}
        <h1>Log In</h1>
        <form action='#' method='POST'>
                <label id='credential'>username</label>
                <input id='category' type='text' name='username' /><br>
                <label id='credential'>password</label>
                <input id='category' type='password' name='password' /><br>
                <input id='submit' type='submit' value='log in' />
        </form>
</div>
{% endblock %}
